@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rubik&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: #f8f6f7;
}

h3 {
    margin-top: 0 !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

p {
    font-weight: 300 !important;
    line-height: 26px !important;
    margin: 0;
}

.feature-placement {
    display: flex;
    position: absolute;
    right: 0;
    margin: 36px 230px;
    z-index: 9999;
}

.mapboxgl-ctrl-group button {
    background-color: #fff;
    border-radius: 4px;

}

.mapboxgl-ctrl-compass {
    display: none !important;
}

.mapboxgl-ctrl-zoom-in {
    display: flex;
    position: absolute;
    right: 0;
    margin: 27px 115px;
    background-color: #fff;

    box-shadow: 0px 16px 48px 0px #02186E26;
}

.mapboxgl-ctrl-zoom-out {
    display: flex;
    position: absolute;
    right: 0;
    margin: 27px 150px;
    border: none;

    box-shadow: 0px 16px 48px 0px #02186E26;
}

.feature {
    background: #fff;
    display: flex;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 16px 48px 0px #02186E26;
}

#filter-bsg {
    display: flex;
    border-radius: 8px;
    z-index: 999;
}

#filter-bsg input {
    background-color: #fff;
    border: none;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: capitalize;

    height: 40px;
    width: 72px;
}

#filter-bsg input:hover {
    cursor: pointer;
    background-color: #763D8E;
    color: white;
}

.bsg-title {
    margin-bottom: 16px;
}

.btn-z {
    margin: 0 25px;
}

.btn-z button {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    font-size: 26px;
    line-height: 15px;
    box-shadow: 0px 16px 48px 0px #02186E26;
}

.card-placement {
    position: absolute;
    left: 0;
    margin-top: 32px;
    margin-left: 126px;
    border-radius: 8px;
    box-shadow: 0px 16px 48px 0px #02186E26;
    width: 305px;
    z-index: 999;
}

.dark {
    background: #F8F7F7 !important;
    border-radius: 8px 8px 0px 0px !important;
}

.card-info {
    background: #fff;
    padding: 32px;
    border-radius: 0px 0px 8px 8px;
}

.card-info-bottom {
    box-shadow: 0px 16px 48px 0px #02186E26;
    border-radius: 8px;
    margin-left: 66px;
    padding: 30px;
}

.pd-in {
    padding: 25px;
}

.card-info h2,
.card-info p {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

.card-info i {
    float: right;
    line-height: 24px;
}

.card-info i:hover {
    cursor: pointer;
}

.mapboxgl-popup-content {
    width: 100%;
}

.detail-info {
    display: none;
}

.area-detail p,
.area-detail h2,
.area-detail h3,
.area-detail h4 {
    font-family: 'Rubik';
}

.area-detail {
    margin: 150px 100px;
}

.list-legend {
    display: flex;
}

.list-legend p {
    margin-right: 30px;
    font-size: 14px;
}

#grow-analytic h4 {
    margin-bottom: 16px !important;
}

.high-card {
    margin-top: 30px;
}

.high-card h4 {
    margin-bottom: 16px;
    font-weight: bold;
}

.bar-chart {
    display: flex;
}

.bar-chart .row {
    margin: 0 20px;
}

.progress-bar {
    height: 20px;
}

.card-section-btn {
    margin: 30px 0;
    background-color: #763D8E;
    border: none;
    border-radius: 8px;
    color: white;
    box-shadow: 0px 4px 24px -10px rgba(2, 24, 110, 0.2);
}
